Reproducing the results outline in the readme requires R version 4.0.3 or later and Python 3.7 or higher. 


The following R packages should be installed using install.packages("package_name"):

- hal9001
- ggplot2
- dplyr
- nnls
- SuperLearner
- rpart
- randomForest


The following R packages should be installed. They can be installed at the command line using
$pip install package_name:

- anytree
- pandas
- random
